@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zen+Antique&display=swap');

:root {
  --primary-bg-color: #588157;
  --secondary-bg-color: #a3b18a;
  --tertiary-bg-color: #dad7cd;

  --primary-bg-color-dark: #3a5a40;

  --primary-text-color: #1b1821;
  --secondary-text-color: #dad7cd;

}

.zen-antique-regular {
  font-family: "Zen Antique", serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  font-family: "Zen Antique", serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 100%;
  max-width: 500px;
  height: auto;
}